.detail-container { 
  max-width: 1024px;
  height: '100%'; 
  margin: 0 auto; 
}

.back-container {
  display: flex;
  max-height: 50px;
  margin-bottom: 30px;
}

.back-container > a{
  color: #000000;
}

.download-container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.download-container > a {
  color: #000000;
}

.download-link {
  max-width: 110px;
  display: flex;
  margin: 50px;
}
